<!doctype html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>mobiliz</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <div id="pagePreloader" class="preloader fullScreen left0 top0">
    <div class="cssload-loader">
      <div class="cssload-inner cssload-one"></div>
      <div class="cssload-inner cssload-two"></div>
      <div class="cssload-inner cssload-three"></div>
    </div>
    <div class="loader"><span class="loaderSpan" id="jsLoader">0%</span></div>
  </div>
	<header>
    <!-- <h1>hi!!!!</h1> -->
  </header>
    {{{body}}}
	<script src="./js/script.js"></script>
</body>
</html>
